.main-dashboard {
    .sidebar {
        margin: 0;
        padding: 0;
        width: 5%;
        background-color: #f1f1f1;
        position: fixed;
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
        margin-top: 3rem;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        .nav-items{
            display: flex;
            flex-direction: row;
            .dropdown{
                margin-right: 1rem;
            }
        }
    }

    .container-dashboard {
        background-image: url("../../../Images/home/crossfitBackground.jpg");
        background-size: cover;
        background-position: center;
        height: 100%;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .selected-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: 5rem;
            h2 {
                color: white;
                margin-right: 1rem;
            }
        }
    }
}
