.banner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    margin-bottom: 20rem;
    z-index: 10;

    .box-title {
        padding: 0;
        color: white;
    }
    .cta {
        color: white;
    }
}
@media (max-width: 992px) {
    .banner-container {
        background-image: url("../../../Images/home/crossfitBackground.jpg");
        background-size: cover;
        background-position: center;
        margin-bottom: 0rem;
    }
}
