//Palette Color
$theme-colors: (
        "primary": #175CA7,
        "secondary": #F48636,
);

//Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";

@font-face {
        font-family: 'Source Sans Pro', sans-serif;
        font-family: 'Staatliches', cursive;
        src: url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&display=swap) format(Eext/css);
}

body, html, #root {
        font-family: 'Source Sans Pro', sans-serif;
        height: 100%;
}

h1 {
        font-family: 'Staatliches', cursive;
        font-size: 3.5rem;
}
