@import "../../Theme/Components/colors.scss";
.header-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: -1;
    .navbar-collapse {
        justify-content: flex-end;
    }
    .btn-link {
        color: $secondary
    }
}