.form-input{
    margin-bottom: 1rem;
}
.form-text-area {
    position: relative;
    margin-bottom: 0 !important;
    resize: none;
    border-bottom: 1px solid lightgray !important;
    box-shadow: none;
}