.day-card{
    height: 16.3rem;
    .card-title{
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .day-title{
            color:  blue;
            font-family: 'Staatliches', cursive;
            margin-bottom: initial;
            font-size: 1.5rem;
        }
        .day-edit.dropdown{
            .btn{
                padding: 0.1rem 0.6rem;
                border-radius: 50%;
                .MuiSvgIcon-root{
                    width: 1rem;
                    height: 1rem;
                }
            }
            .dropdown-toggle::after{
                display: none;
            }
        }
    }
    .card-body{
        padding-top: 0;
        overflow: auto;
        overflow-x: hidden;
    }
    .accordion{
        .card-header{
            padding: 0.3rem 0.8rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p{
                margin-bottom: initial;
                font-weight: bold;
            }
            .time{
               font-size: 1.2rem;
               color: blue; 
               margin-right: 0.5rem;
            }
            .arrow-time-container{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .card-body{
            padding: 0.8rem;
        }
    }
}